.ScrollDownArrow {
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-30px) scaleY(0.75); }
  53% { transform: translateY(-15px) scaleY(0.9); }
}