.ScrollDownArrow {
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  animation: bounce 4s linear infinite;
}

.fadeIn {
  animation: bounce 4s linear infinite, fadeIn 2s linear 2s 1 backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px) scaleY(0.75);
  }
  53% {
    transform: translateY(-15px) scaleY(0.9);
  }
}
