// colors
$color-primary: #2325aa;
$color-primary-light: #6c6ad8;
$color-primary-dark: #1336ac;
$color-text: rgb(49, 49, 95);
$color-background: azure;
$color-submit-button: rgb(115, 123, 150);
$color-submit-button-active: rgba(115, 123, 150, 0.733);
