@mixin pagebase {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: rgba(56, 100, 122, 1);
  background-color: azure;
  margin-bottom: 0;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
  }

  p {
    font-size: 1.5rem;
    text-align: justify;
    margin: {
      left: 20px;
      right: 20px;
      top: 0px;
      bottom: 10px;
    }
  }

  .arrow {
    margin-top: auto;
    text-align: center;
    margin-bottom: 20px;
  }
}
