.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  min-width: 100vw;
  background-color: rgba(250, 250, 250, 0.1);
  color: white;
  margin-right: 20px;
  
  li {
    display: inline-block;
    margin-right: 20px;
    list-style: none;
    font-size: rem;
  }
}