@import "../page.scss";

.SkillsPage {
  @include pagebase;

  .RadarChart {
    display: flex;
    justify-content: center;
    width: 100%;

    svg g text {
      font-size: 1rem;
    }
  }
}

// Phone (landscape or > iPhone 5)
@media only screen and (min-width: 320px) {
  .AboutPage {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }
}
