@import '../page';

.LandingPage {
  @include pagebase;
  background-color: rgba(56, 100, 122, 1);
  color: white;

  h1 {
    text-align: center;
    padding-top: 150px;
    text-transform: uppercase;
    font-size: 2rem;
  }

  h2 {
    text-align: center;
    font-size: 1.3rem;
  }

  ul {
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 10px;
      font-size: 1rem;
    }
  }
}

// Phone (landscape or > iPhone 5)
@media only screen and (min-width: 320px) {
  .LandingPage {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }
}

// Tablet (portrait)
@media only screen and (min-width: 580px) {
  .LandingPage {
    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 1.8rem;
    }
  }
}

// Tablet (landscape)
@media only screen and (min-width: 768px) {
  .LandingPage {
    h1 {
      font-size: 3.4rem;
    }

    h2 {
      font-size: 2.1rem;
    }
  }
}

// Desktop
@media only screen and (min-width: 1024px) {
  .LandingPage {
    h1 {
      font-size: 3.8rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    ul li {
      font-size: 1.4rem;
    }
  }
}

// 4K
@media only screen and (min-width: 2160px) {
  .LandingPage {
    h1 {
      font-size: 7rem;
    }

    h2 {
      font-size: 4rem;
    }
  }
}
