@import "../page";

.LandingPage {
  @include pagebase;
  background-color: rgba(56, 100, 122, 1);
  color: azure;

  h1 {
    text-align: center;
    padding-top: 150px;
    text-transform: uppercase;
    font-size: 2rem;
  }

  h2 {
    text-align: center;
    font-size: 1.3rem;
  }

  ul {
    text-align: center;
    list-style: none;
    margin-top: 50px;

    li {
      display: inline-block;
      margin-right: 10px;
      font-size: 1rem;
      border-radius: 10px;
    }

    li:hover {
      background-color: white;
    }
  }

  .name {
    animation-name: FadeInFromRight;
    animation-duration: 1.8s;
  }

  .title {
    animation-name: FadeInFromLeft;
    animation-duration: 1.8s;
  }

  .social {
    animation-name: FadeInFromBottom;
    animation-duration: 0.7s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
  }

  @keyframes FadeInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes FadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes FadeInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
}

// Phone (landscape or > iPhone 5)
@media only screen and (min-width: 320px) {
  .LandingPage {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }
}

// Tablet (portrait)
@media only screen and (min-width: 580px) {
  .LandingPage {
    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 1.8rem;
    }
  }
}

// Tablet (landscape)
@media only screen and (min-width: 768px) {
  .LandingPage {
    h1 {
      font-size: 3.4rem;
    }

    h2 {
      font-size: 2.1rem;
    }
  }
}

// Desktop
@media only screen and (min-width: 1024px) {
  .LandingPage {
    h1 {
      font-size: 3.8rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    ul li {
      font-size: 1.4rem;
    }
  }
}

// 4K
@media only screen and (min-width: 2160px) {
  .LandingPage {
    h1 {
      font-size: 7rem;
    }

    h2 {
      font-size: 4rem;
    }
  }
}
